In [2]:
import pandas as pd

data = './suicides.csv'
df = pd.read_csv(data)
print(df.head())

           State  Year Type_code                                     Type  \
0  A & N Islands  2001    Causes                       Illness (Aids/STD)
1  A & N Islands  2001    Causes  Bankruptcy or Sudden change in Economic
2  A & N Islands  2001    Causes  Cancellation/Non-Settlement of Marriage
3  A & N Islands  2001    Causes        Physical Abuse (Rape/Incest Etc.)
4  A & N Islands  2001    Causes                            Dowry Dispute

   Gender Age_group  Total
0  Female      0-14      0
1  Female      0-14      0
2  Female      0-14      0
3  Female      0-14      0
4  Female      0-14      0

In [4]:
df.describe()

                Year          Total
count  237519.000000  237519.000000
mean     2006.500448      55.034477
std         3.452240     792.749038
min      2001.000000       0.000000
25%      2004.000000       0.000000
50%      2007.000000       0.000000
75%      2010.000000       6.000000
max      2012.000000   63343.000000

Lets see for which states do we have the data.

In [5]:
# Groupby states
df_state = df.drop('Year', axis=1)
df_state = df_state.groupby('State', as_index=False).agg({'Total': 'sum'})
print(df_state.head())

               State   Total
0      A & N Islands    8109
1     Andhra Pradesh  814059
2  Arunachal Pradesh    6633
3              Assam  172276
4              Bihar   46214

In [6]:
print('Dropping the non relevant fields')
print('Shape before dropping the fields {}'.format(df_state.shape))

df_state = df_state.drop(df_state.index[df_state.State == 'Total (All India)'])
df_state = df_state.drop(df_state.index[df_state.State == 'Total (States)'])
df_state = df_state.drop(df_state.index[df_state.State == 'Total (Uts)'])

print('Shape after dropping the fields {}'.format(df_state.shape))

Dropping the non relevant fields
Shape before dropping the fields (38, 2)
Shape after dropping the fields (35, 2)

In [7]:
print('Changing to jsonstr to feed to html file')
jsonstr = df_state.to_json(orient='records')

print(jsonstr)

# Display the Dive visualization for this data
from IPython.core.display import display, HTML

HTML_TEMPLATE = """<link rel="import" href="/nbextensions/facets-dist/facets-jupyter.html">
        <facets-dive id="elem" height="600"></facets-dive>
        <script>
          var data = {jsonstr};
          document.querySelector("#elem").data = data;
        </script>"""
html = HTML_TEMPLATE.format(jsonstr=jsonstr)
out = HTML(html).data

# write the html to a file
with open('html_file.html', 'w') as f:
    f.write(out)
print('file saved')

Changing to jsonstr to feed to html file
[{"State":"A & N Islands","Total":8109},{"State":"Andhra Pradesh","Total":814059},{"State":"Arunachal Pradesh","Total":6633},{"State":"Assam","Total":172276},{"State":"Bihar","Total":46214},{"State":"Chandigarh","Total":5164},{"State":"Chhattisgarh","Total":302354},{"State":"D & N Haveli","Total":3430},{"State":"Daman & Diu","Total":1391},{"State":"Delhi (Ut)","Total":84272},{"State":"Goa","Total":17363},{"State":"Gujarat","Total":330858},{"State":"Haryana","Total":147176},{"State":"Himachal Pradesh","Total":26562},{"State":"Jammu & Kashmir","Total":14821},{"State":"Jharkhand","Total":49720},{"State":"Karnataka","Total":734825},{"State":"Kerala","Total":538946},{"State":"Lakshadweep","Total":50},{"State":"Madhya Pradesh","Total":451535},{"State":"Maharashtra","Total":901945},{"State":"Manipur","Total":2102},{"State":"Meghalaya","Total":5415},{"State":"Mizoram","Total":4154},{"State":"Nagaland","Total":1728},{"State":"Odisha","Total":267234},{"State":"Puducherry","Total":32144},{"State":"Punjab","Total":46350},{"State":"Rajasthan","Total":255134},{"State":"Sikkim","Total":9606},{"State":"Tamil Nadu","Total":818691},{"State":"Tripura","Total":45965},{"State":"Uttar Pradesh","Total":233352},{"State":"Uttarakhand","Total":18496},{"State":"West Bengal","Total":849936}]
file saved